<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Say hi</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          {% if site.facebook_username %}
            <li>
              {% include icon-facebook.html username=site.facebook_username %}
            </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.twitter_username %}
            <li>
              {% include icon-twitter.html username=site.twitter_username %}
            </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        We like emails. Contact us using <a href="mailto:{{ site.email }}">this email address</a>.
      </div>
    </div>

  </div>

</footer>
